html {
    box-sizing: border-box;
}

*,
:before,
::after {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    overflow-y: overlay;
    margin: 0;
    background-color: cornflowerblue;
}

.wrapper {
    overflow: visible;
    width: 100%;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 15px;

}

header {
    background-color: #DCDCDC;
    width: 100%
}

.header_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.navigation__button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    transition: 0.4s;
    padding: 5px 10px;
    margin: 25px 0px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.navigation__button:hover {
    background-color: darkkhaki;
}

.navigation__button+.navigation__button {
    margin-left: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
}

.search-inner {
    display: flex;
    justify-content: center;
    padding: 48px 0 13px;
    font-size: 18px;
    line-height: 21px;
}

#main-search {
    outline: none;
    border: none;
    background-color: #DCDCDC;
    padding: 21px 32px;
    border-radius: 30px 0 0 30px;
    width: 450px;
}

.main-search-action {
    border: none;
    background-color: #DCDCDC;
    padding: 21px 32px;
    cursor: pointer;
    border-radius: 0 30px 30px 0;
    border-left: 1px solid black;
    transition: 0.4s;
    width: 220px;
}

.main-search-action:hover {
    background-color: darkkhaki;
}

.main-search-action:active {
    border: 1px solid black;
}

.hide {
    display: none;
}

.filter-inner {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 15px;
    position: relative;
    z-index: 10;
}

.filter__item {
    position: relative;
}

.genre-filter {
    margin-left: 32px;
}

.language-filter {
    margin-left: 16px;
}

.filter__button {
    text-align: left;
    padding: 5px 45px 6px 22px;
    border-radius: 15px;
    min-width: 130px;
    border: none;
    background-color: #DCDCDC;
    transition: 0.4s;
    position: relative;
    z-index: 10;
}

.filter__button::before {
    content: '';
    display: block;
    background: url(images/arr-down.svg) no-repeat center;
    width: 25px;
    height: 12px;
    position: absolute;
    top: 9px;
    right: 12px;
}

.filter__button:hover+.filter__list, .filter__list:hover {
    display: block;
}

.filter__list {
    position: absolute;
    list-style: none;
    text-align: left;
    top: -15px;
    display: none;
    max-height: 50vh;
    z-index: 9;
    background-color: #DCDCDC;
    width: 100%;
    padding: 5px;
    padding-top: 25px;
    border-radius: 15px;
    overflow-y: auto;
}

.filter__list li {
    margin: 5px;
    text-align: center;
    cursor: pointer;
}

.filter__list li:hover {
    background-color: darkkhaki;
}

.per-page-filter {
    margin-left: 185px;
}

.filter__list li.filter_li_ti {
    color: #a7a3a3;
}

.films-list {
    padding: 18px 0;
    min-width: 1000px;
    max-width: 1000px;
}


.result-window .row {
    display: flex;
    flex-wrap: wrap;
}

.result-window .col {
    width: 20%;
    padding: 10px;
}

.result-elem {
    width: 100%;
    padding-top: 140%;
    background: #DCDCDC;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.result-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.favorite-elem {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 10px;
    background: url(images/heart-wh.svg) no-repeat center;
}

.favorite-elem.save {
    background: url(images/heart-red.svg) no-repeat center rgba(255, 255, 255, 0);
    background-size: 100%;
}

.pagination {
    padding: 18px 0;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 15px;
    background-color: #DCDCDC;
    cursor: pointer;
    transition: 0.4s;
}

.pagination-button:hover {
    background-color: darkkhaki;
}

#pagination-prev-button {
    background: url(images/arr-left.svg) no-repeat center;
}

#pagination-next-button {
    background: url(images/arr-right.svg) no-repeat center;
}

.pagination-bar {
    position: relative;
}

.pagination-info {
    cursor: pointer;
}

ul#pagination-list {
    list-style: none;
    position: absolute;
    width: 80px;
    background-color: #fff;
    border: 1px solid #DCDCDC;
    max-height: 50vh;
    overflow-y: auto;
    bottom: 130%;
}

ul#pagination-list li {
    padding: 5px 0;
    border-bottom: 1px solid #DCDCDC;
    cursor: pointer;
    text-align: center;
}

.modal-window-section {
    position: fixed;
    z-index: 20;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #21232ccf;
}

.modal-window {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    max-width: 600px;
    height: 450px;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ededed;
    border-radius: 10px;
    overflow: hidden;
}

.modal-close {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url(images/close.svg) no-repeat center;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.modal-image {
    flex: 1 0 43%;
}

.modal-title-outer {
    margin: 20px;
    overflow-y: auto;
}

.modal-title-inner {
    padding: 0 0 0 20px;
    border-left: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.modal-title {
    margin-bottom: 20px;
    text-align: left;
}

.modal-title span {
    display: block;
    margin: 10px 0 20px;
    color: #e91e63;
}

.fadeOut {
    animation-name: fadeOut;
    opacity: 0;
    visibility: hidden;
}

.fadeIn {
    animation-name: fadeIn;
    opacity: 1;
    visibility: visible;
}

.fadeIn, .fadeOut {
    animation-duration: 0.75s;
    animation-timing-function: linear;
    transition: visibility 0.5s, opacity 0.5s;
}

body.fixed {
    height: 100vh;
    overflow: hidden;
}